<%= form_with(model: launch) do |form| %>
  <% if launch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(launch.errors.count, "error") %> prohibited this launch from being saved:</h2>

      <ul>
        <% launch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :launch_date %>
    <%= form.datetime_select :launch_date %>
  </div>

  <div class="field">
    <%= form.label :organisation_id %>
    <%= form.text_field :organisation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
